name: E2E - Build image templates
on:
  workflow_dispatch:
    inputs:
      codenames:
        description: Comma-separated list of codenames to build for (e.g. "mantic",
          "focal") - will build for all supported releases if not specified
        type: string
        required: false
      force:
        description: Force building new templates even if they already exist
        type: boolean
        required: false
  schedule:
  - cron: 42 0 * * 0
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  supported-releases:
    name: Build matrix for supported ADSys and Ubuntu releases
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-supported-releases.outputs.matrix }}
      versions: ${{ steps.set-supported-releases.outputs.versions }}
    steps:
    - uses: canonical/desktop-engineering/gh-actions/common/dpkg-install-speedup@main
    - name: Install needed binaries
      run: 'sudo apt-get update

        sudo DEBIAN_FRONTEND=noninteractive apt-get install -y distro-info

        '
    - name: Build matrix
      id: set-supported-releases
      run: "set -eu\n\ncodenames=\"$(distro-info --supported-esm)\\n$(distro-info\
        \ --supported)\\n\"\nversions=\"$(distro-info --supported-esm --release)\\\
        n$(distro-info --supported --release)\\n\"\n\n# Paste the codenames and versions\
        \ together, sort them, and remove duplicates\ncodenames_with_versions=\"$(paste\
        \ <(printf \"$versions\" | cut -d' ' -f1) <(printf \"$codenames\") | sort\
        \ -u)\"\n\nreleases=\"\"\nversions=\"\"\nwhile IFS=$'\\t' read -r version\
        \ codename; do\n    # Filter out unsupported LTS releases\n    if [[ \"${codename}\"\
        \ =~ xenial|bionic|focal ]]; then\n        continue\n    fi\n\n    if [ -n\
        \ \"${releases}\" ]; then\n        releases=\"${releases}, \"\n    fi\n  \
        \  releases=\"${releases}'${codename}'\"\n\n    if [ -n \"${versions}\" ];\
        \ then\n        versions=\"${versions}, \"\n    fi\n    versions=\"${versions}\\\
        \"${codename}\\\": \\\"${version}\\\"\"\ndone <<< \"$codenames_with_versions\"\
        \n\necho versions=\"{${versions}}\" >> $GITHUB_OUTPUT\necho matrix=\"${releases}\"\
        \ >> $GITHUB_OUTPUT\n"
  build-template:
    name: Build VM template
    runs-on: ubuntu-latest
    concurrency:
      group: template-build-${{ matrix.codename }}
    needs:
    - supported-releases
    strategy:
      matrix:
        codename: ${{ fromJSON(format('[{0}]', inputs.codenames || needs.supported-releases.outputs.matrix))
          }}
      fail-fast: false
    steps:
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - name: Set up SSH key
      run: 'mkdir -p ~/.ssh

        echo "${{ secrets.AZURE_SSH_KEY }}" > ~/.ssh/adsys-e2e.pem

        chmod 600 ~/.ssh/adsys-e2e.pem

        '
    - name: Check if template needs to be created
      id: check-vm-template
      env:
        versions: ${{ needs.supported-releases.outputs.versions }}
      run: "set -eu\n\nforce=\"\"\nif [ \"${{ inputs.force }}\" = \"true\" ]; then\n\
        \    force=\"--force\"\nfi\n\nversion=\"$(echo $versions | jq -r .${{ matrix.codename\
        \ }})\"\ncodename=\"${{ matrix.codename }}\"\nIMAGE_VERSION=$(go run ./e2e/cmd/build_base_image/00_check_vm_image\
        \ --codename ${codename} --version ${version} ${force})\nif [ ! -z \"${IMAGE_VERSION}\"\
        \ ]; then\n    echo image-version=$IMAGE_VERSION >> $GITHUB_OUTPUT\nfi\n"
    - name: Set up VPN connection
      uses: ./.github/actions/azure-sstpc-vpn
      if: steps.check-vm-template.outputs.image-version != ''
      with:
        gateway: ${{ secrets.VPN_GATEWAY }}
        ca: ${{ secrets.VPN_CA }}
        cert: ${{ secrets.VPN_CERT }}
        key: ${{ secrets.VPN_KEY }}
    - name: Build base VM
      if: steps.check-vm-template.outputs.image-version != ''
      run: 'go run ./e2e/cmd/build_base_image/01_prepare_base_vm --vm-image ${{ steps.check-vm-template.outputs.image-version
        }} --codename ${{ matrix.codename }}

        '
    - name: Create template version
      if: steps.check-vm-template.outputs.image-version != ''
      run: 'go run ./e2e/cmd/build_base_image/02_create_vm_template

        '
    - name: Purge old template versions
      run: 'go run ./e2e/cmd/build_base_image/99_destroy_previous_versions --codename
        ${{ matrix.codename }}

        '
